html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

html.dark {
	background: #000;
	color: #fff;
}
html.dark .icon-btn {
	color: #fff;
}

.icon-btn {
	color: #000;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	opacity: 75%;
	transition: opacity 0.2s ease-in-out;

	border: none;
	background: none;
}
.icon-btn:hover {
	opacity: 100%;
}
